
@accordion-prefix-cls:~'ui-accordion';
.@{accordion-prefix-cls}{
    a.accordion-toggle{
        color: #656565;
    }
    h4{
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }
}
.@{accordion-prefix-cls}-compact{
    border: none !important;
    border-bottom: 1px solid #e6e6e6 !important;
    margin-top:0px !important;
}
.@{accordion-prefix-cls}-highlight{
    background: #96c6fb !important;
}