/*  body {
   background-color: #ececec
} */

.laui-xmind {
    width: 100%;
    height: 1100px;
    overflow: hidden;
    background-image: require('../images/laoui.png');
    background-repeat: no-repeat;
}

.typeahead-demo {
    & .custom-popup-wrapper {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        background-color: #e7dbea;
    }
    & .custom-popup-wrapper > .message {
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
        color: #868686;
    }
    & .custom-popup-wrapper > .dropdown-menu {
        position: static;
        float: none;
        display: block;
        min-width: 160px;
        background-color: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }
}

#doc {
    & .ui-tab {
        background-color: #eee;
    }
}
